<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>文章清單</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
	<nav class="nav navbar-light" style="background-color: #333333;">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Test</a>
			</div>
			<ul class="nav navbar-nav nav-tabs">
				<li><a data-toggle="tab" href="/home">Home</a></li>
				<li><a data-toggle="tab" href="/articles_list">文章列表</a></li>
				<li class="active"><a data-toggle="tab" href="/list_content">文章清單</a></li>
				<li><a data-toggle="tab" href="/write">撰寫文章</a></li>
			</ul>
		</div>
	</nav>
	<div>
	<button id="new" onclick="detachDialog()">新增</button>
        <div id="add">
        <form th:modelAttribute="insert" action="/add_list" method="POST">
            <input id="new_add" name="name" type="text" required placeholder="請輸入清單名稱">
            <button type="submit">上傳</button>
        </form>
        </div>
     </div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">類別</th>
			</tr>
		</thead>
		<tr th:each="f,iter:${list}">
			<td th:text="${iter.count}"></td>
			<td><a th:href="@{'http://localhost:8080/list/'+${f.id}}"
				th:text="${f.name}"></a></td>
		</tr>
	</table>
</body>

<script>
		$("#add").dialog(
				{
					autoOpen : false,
					modal : true,
					title : "建立清單"
				});

		function detachDialog() {
			$("#add").dialog("open");
		}
    </script>

</html>